body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f9;
  color: #333;
  margin: 0;
  padding: 0;
}
.container {
  width: 80%;
  margin: auto;
  overflow: hidden;
}
.header,
.section {
  background: #fff;
  padding: 20px;
  margin-bottom: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
}
.profile-pic {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 20px;
}
.header h1 {
  margin: 0;
  color: #333;
}
.contact-info {
  font-size: 0.9em;
  color: #777;
}
.social-media {
  margin-top: 10px;
}
.social-media a {
  text-decoration: none;
  color: #333;
  font-size: 1em;
  margin-right: 15px;
}
.social-media a:hover {
  color: #555;
}
.section h2 {
  border-bottom: 2px solid #333;
  padding-bottom: 5px;
  margin-bottom: 15px;
  color: #333;
}
.skills ul {
  list-style-type: none;
  padding: 0;
}
.skills ul li {
  background: #eee;
  margin: 5px;
  padding: 8px;
  display: inline-block;
  border-radius: 5px;
}
